body
{
	padding: 5%;
	font-family: sans-serif;
}

h1
{
    background-image: url("isight.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 83px;
}

table {
	font-family: mono;
	border-spacing: 6px;
}

th {
	text-align: left;
	border-bottom: 1px solid grey;
}

th *
{
	border: none;
	text-decoration: none;
}

th a
{
	display: block;
	width: 100%;
	color: grey;
}

hr {
	border: 1px solid grey;
	padding: 0;
}

